<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="mesas">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Mesas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="menu">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="pedido-actual">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Pedido</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="cuenta">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>